@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Bold.woff2') format('woff2');
    font-weight: 700;
}

body {
    background: linear-gradient(to right, #ECECEC, #FFFFFF);
    height: 100vh;
    margin: 0;
   /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

body.fade-in {
    opacity: 1;
}

.navbar {
    width: 100%;
    
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 5rem;
}

h2 {
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #2271b6;
    font-family: 'Avenir', sans-serif;
}

.btn-gradient {
    background: #2271b6;
    color: white;
    border: none;
    height: 44px;
    margin: 15px auto;
    font-weight: 500;
    transition: background 0.s ease-in-out;
    
}


.btn-gradient:hover {
    color: white;
}

.form-control:invalid {
    border-color: #dc3545;
}

.form-control:valid {
    border-color: #28a745;
}

#loginMessage {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
}
input {
    height: 44px;
    border-radius: 12px !important;
}

input::placeholder {
  color: #a49c9c !important;
  font-size: 12px;
}

a {
 color: #2271b6;  
}

.forgot_pwrd_text {
    font-size: 13px;
}


@media screen and (max-width: 500px) {
    .container {
        max-width: 90%;
        margin: inherit 1rem;
        padding: 1.2rem;
        font-size: 14px;
    }
}